html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

h1 {
    color: white;
    font-weight: 900;
    font-size: 2em;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

h3 {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

.projects > h1,
.experiences > h1,
.about > h1 {
    text-align: center;
}

p, li, ul {
    color: white;
}

.tab-bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding: 10px 0;
    height: 60px;
}

.tab-button {
    color: white;
    background-color: #222;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 14px;
    width: 200px;
    /* height: 100px; */
}

.tab-button.active {
    background: linear-gradient(to bottom, #222 0%, #0091ff70 100%);
    border-bottom: 4px solid #0091ff;
    color: #fff;
    /* transition: background 0.5s, border-bottom 0.5s; */
}

.tab-button:hover {
    background: linear-gradient(to bottom, #222 0%, #0091ff70 100%);
    color: #fff;
    /* transition: background 0.5s; */
}

.tab-button,
.tab-button.active,
.tab-button:hover {
    transition: background 1s, border-bottom 0.5s, color 0.5s;
}

.content {
    padding: 10px 100px;
}

.section-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    text-decoration: none;
}

.media-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.project-card {
    display: flex;
    align-items: flex-start;
    /* background-color: #1e1e1e; */
    /* border: 1px solid #333; */
    /* border-radius: 8px; */
    /* padding: 20px; */
    margin: 30px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
}

.project-info h1 {
    color: #f0f0f0;
    font-size: 2em;
    margin-bottom: 10px;
}

.project-info p {
    color: #b0b0b0;
    font-size: 1em;
    margin: 5px 0;
}

.project-info a {
    color: inherit;
    text-decoration: none;
    font: inherit;
}
.project-info a:hover {
    color: #b0b0b0;
    transition: color 0.4s;
}

.software-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
}

.software-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.software-icon {
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.experience-card {
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.experience-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 10px 0; */
}

.about-media-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

/* end of used style */

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-BlackItalic.woff2') format('woff2'),
        url('HelveticaNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Bold.woff2') format('woff2'),
        url('HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('HelveticaNeue-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Medium.woff2') format('woff2'),
        url('HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Light.woff2') format('woff2'),
        url('HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('HelveticaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Thin.woff2') format('woff2'),
        url('HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
        url('HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Italic.woff2') format('woff2'),
        url('HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Roman.woff2') format('woff2'),
        url('HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Heavy.woff2') format('woff2'),
        url('HelveticaNeue-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('HelveticaNeue-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Black.woff2') format('woff2'),
        url('HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}